n8n-workflows/WF5-cancel-notif.json
[{
  "name": "WF-5: Notificacion cancelacion",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "appointment-cancelled", "responseMode": "lastNode", "options": {} },
      "name": "Webhook appointment-cancelled",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "appointment-cancelled"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst a = raw.body || raw;\nvar phone = (a.customer?.phone || '').replace(/\\+/g, '').replace(/ /g, '');\nif (phone && !phone.startsWith('549') && !phone.startsWith('54') && phone.length <= 11) {\n  phone = '549' + phone;\n}\nreturn [{\n  json: {\n    clientName: (a.customer?.firstName || '') + ' ' + (a.customer?.lastName || ''),\n    phone: phone,\n    service: a.service?.name || '',\n    date: (a.start || '').split(' ')[0],\n    time: ((a.start || '').split(' ')[1] || '').substring(0, 5)\n  }\n}];"
      },
      "name": "Extraer datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ 'http://scheduler:3000/api/v1/whatsapp/send?phone=' + encodeURIComponent($json.phone) + '&message=' + encodeURIComponent('Hola ' + $json.clientName + ', tu turno del ' + $json.date + ' a las ' + $json.time + ' (' + $json.service + ') fue cancelado. Reserva un nuevo turno desde nuestra web.') }}",
        "method": "GET",
        "sendQuery": true,
        "sendBody": false,
        "sendHeaders": true,
        "headerParameters": { "parameters": [{"name": "x-api-key", "value": "={{ $env.SCHEDULER_API_KEY }}"}] },
        "options": {}
      },
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook appointment-cancelled": { "main": [[{ "node": "Extraer datos", "type": "main", "index": 0 }]] },
    "Extraer datos": { "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}]